.logo {
  display: flex;
  gap: 4px;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: var(--white-color);
}

.logo svg {
  background-color: var(--white-color);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 4px;
}

@media only screen and (min-width: 768px) {
  .logo {
    gap: 8px;
    font-size: 24px;
  }

  .logo svg {
    width: 24px;
    height: 24px;
    padding: 4px;
  }
}
