.close {
  background: none;
  width: fit-content;
  padding: 0;
  position: absolute;
  right: 16px;
  top: 16px;

  &:hover {
    background: none;
  }
}

.close svg {
  width: 24px;
  height: 24px;
  stroke: var(--black-color);
}

.image {
  display: block;
  width: 100%;
  border-radius: 14px;
  margin-bottom: 14px;
}

.caption {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;

  & span {
    color: var(--main-color);
  }
}

.subList {
  &:first-of-type {
    max-width: 280px;
    margin-bottom: 14px;
  }
}

.subList li {
  display: inline;
  padding: 2px;
  color: var(--subtext-color);
  font-size: 12px;
}

.subList li:not(:last-child)::after {
  content: " ｜";
}

.description {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
}

.content h4 {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}

.conditions {
  margin-top: 24px;
}

.conditionsList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.conditionsList > li {
  font-size: 12px;
  background-color: var(--gray-color);
  padding: 7px 14px;
  border-radius: 35px;
}

.conditionsList span {
  color: var(--main-color);
  font-weight: 600;
}
