.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

@media only screen and (min-width: 768px) {
  .list {
    row-gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.list > li {
  width: 320px;
}

@media only screen and (min-width: 768px) {
  .list > li {
    width: 340px;
  }
}

@media only screen and (min-width: 1280px) {
  .list > li {
    width: 280px;
  }
}
