@font-face {
  font-family: Lato;
  src: url("./fonts/Lato/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("./fonts/Lato/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

:root {
  --white-color: #f7f7fb;
  --gray-color: #8a8a8933;
  --main-dark-color: #0b44cd;
  --main-color: #3470ff;
}

body {
  background-color: var(--white-color);
  font-family: Lato, sans-serif;
}
